.avatar_parent {
	height: 25%;
}

.avatar {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	background-color: white;
}

.statusbox {
	background-color: /* rgb(226, 226, 226); */white;
	padding: 15px 15px 55px 15px;
	border-radius: 5px;
	height: 50%;
	overflow: auto;
}

#profile_image {
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	position: absolute; */
	max-width: 100%;
	max-height: 100%;
}

.preference_btn {
	margin-top: 10px;
}

#comment_username, .comment_username {
	color: blue;
	font-size: 15px;
	font-weight: bolder;
	display: block;
	padding: 10px;
}

#comment_comment {
	color: brown;
	display: block;
	padding-left: 10px;
}

#imgcommentbox {
	margin-top: 10px;
}

#comment_btn {
	margin-top: 10px;
	float: left;
}

/* Space between update button and delete button of profile pic */
.action_btns {
	padding: 15px;
}

/* for add button to add profile picture */
#uploadProfilePicBtn {
	display: none;
}

/* Creating an 'Add' button to upload profile picture */
#add_pic {
	width: 80px;
}

.img_add_btn, #img_update_btn {
	padding: 100%;
	width: 100%;
	padding: 15px;
	width: 100%;
	text-align: center;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

#img_update_btn {
	background-color: #FFA726;
}

.img_add_btn {
	background-color: green;
}

#friendsWhoLiked {
	display: none;
}

#img_del_btn {
	float: left;
	display: block;
}

#imageUploadForm {
	float: left;
	padding: 15px;
	display: block;
}

.statusDetails {
	border-bottom: 5px solid #E0E0E0;
	border: 1px solid #E0E0E0;
	background-color: white;
	width: 40%;
	position: relative;
}

#person {
	color: #0D47A1;
	font-weight: bold;
	position: absolute;
}

.img_status_grp {
	position: relative;
	padding: 20px 10px 10px 10px;
}

#user_img img {
	padding: 0px 10px 0px 10px;
}

#wall_status{
	padding: 0px 10px 10px 20px;	
}

.poststatus {
	margin-top: 2%;
}

#btn_status {
	padding-top: 10px;
	float: right;
}

#friend_req_sent_btn {
	display: inline;
}

#sendTextBtn, #cancelBtn{
	float:left;
	margin-top: 10px;
}
#cancelBtn{
	margin-left:20px;
}
#contactBox{
	margin-top: 15px;
	background-color: white;
	clear:both;
}

#contactBox>div>span{
	display:block;
	padding-top:5px;
	color: black;
	font-weight: bold;
}
input[type='button']{
	margin-top: 5px;
	margin-bottom: 10px;
}